@font-face {
  font-family: "Text";
  src: url("opensans-light-webfont.eot");
  src: url("opensans-light-webfont.eot?#iefix") format("embedded-opentype"),
    url("opensans-light-webfont.woff2") format("woff2"),
    url("opensans-light-webfont.woff") format("woff"),
    url("opensans-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bold";
  src: url("oswald-demibold-webfont.eot");
  src: url("oswald-demibold-webfont.eot?#iefix") format("embedded-opentype"),
    url("oswald-demibold-webfont.woff2") format("woff2"),
    url("oswald-demibold-webfont.woff") format("woff"),
    url("oswald-demibold-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Light";
  src: url("oswald-extralight-webfont.eot");
  src: url("oswald-extralight-webfont.eot?#iefix") format("embedded-opentype"),
    url("oswald-extralight-webfont.woff2") format("woff2"),
    url("oswald-extralight-webfont.woff") format("woff"),
    url("oswald-extralight-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Regular";
  src: url("oswald-light-webfont.eot");
  src: url("oswald-light-webfont.eot?#iefix") format("embedded-opentype"),
    url("oswald-light-webfont.woff2") format("woff2"),
    url("oswald-light-webfont.woff") format("woff"),
    url("oswald-light-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
